<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Detailed View of Study</h2>
<table>
    <tr><th>Study Name</th>
   <td>{{data.studyName}}</td>
    </tr>

    <tr>

        <th>Study Desription</th>
         <td>{{data.studyDescription}}</td>
    </tr>
<!--        <tr>-->
<!--        <th>Study Desription</th>-->
<!--        <td>{{data.studyDescription}}</td>-->
<!--        </tr>-->
        <tr>

        <th>Study Phase</th>
         <td>{{data.SutdyPhase}}</td>
    </tr>
     <tr>

        <th>Sponsor Name</th>
         <td>{{data.SponsorName}}</td>
    </tr>

    </tr>


</table>



</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Study Details</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h2>Study Details</h2>-->
<!--    <table class="table table-bordered">-->
<!--        <tr>-->
<!--            <th>Study Name</th>-->
<!--            <td>{{ study.studyName }}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Study Phase</th>-->
<!--            <td>{{ study.studyPhase }}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Sponsor Name</th>-->
<!--            <td>{{ study.sponsorName }}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Study Description</th>-->
<!--            <td>{{ study.studyDescription }}</td>-->
<!--        </tr>-->
<!--    </table>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->
